.whycrossever {
  background: #563a93
    linear-gradient(180deg, #4d37c8 0%, #405c7c 22%, #563a93 75%, #8c67e2 100%)
    0% 0% no-repeat padding-box;
  border-radius: 15px;
  padding: 80px 40px 62px;
  color: #fff;
}
